APP_ENV=local
APP_PUBLIC_URL=http://localhost:5173
API_ADDR=:8080

MYSQL_DSN=memotree:memotree@tcp(localhost:3306)/memotree?parseTime=true&multiStatements=true

STORAGE_PROVIDER=r2
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_REGION=auto
STORAGE_BUCKET_ORIGINALS=memotree-originals
STORAGE_BUCKET_PREVIEWS=memotree-previews
STORAGE_ACCESS_KEY_ID=memotree
STORAGE_SECRET_ACCESS_KEY=memotree-secret
SIGNED_URL_TTL_SECONDS=900

UPLOAD_MAX_FILE_BYTES=1073741824
UPLOAD_MAX_BATCH_COUNT=50
MEDIA_WORKER_CONCURRENCY=2
